<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Moment needing capturing:</h3>
    <p>
      <%= @momentName %>
    </p>
    <h3>Client Name:</h3>
    <p>
      <%= @clientName %>
    </p>
    <h3>Email:</h3>
    <p>
      <%= @email %>
    </p>
    <h3>Phone:</h3>
    <p>
      <%= @phone %>
    </p>
    <h3>Details pertaining to their special moment:</h3>
    <p>
      <%= @about %>
    </p>
  </body>
</html>