<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Date:</h3>
    <p>
      <%= @date %>
    </p>
    <h3>Wedding Location:</h3>
    <p>
      <%= @weddingLocation %>
    </p>
    <h3>Reception Location:</h3>
    <p>
      <%= @receptionLocation %>
    </p>
    <h3>Mailing Address:</h3>
    <p>
      <%= @mailingAddress %>
    </p>
    <h3>Email Address:</h3>
    <p>
      <%= @email %>
    </p>
    <h3>Phone Number:</h3>
    <p>
      <%= @phone %>
    </p>
    <h3>Wants an Engagement Shoot:</h3>
    <p>
      <%= @engagement %>
    </p>
    <h3>Wants a Styled Bridal Shoot</h3>
    <p>
      <%= @bridal %>
    </p>
    <h3>About them:</h3>
    <p>
      <%= @about%>
    </p>
  </body>
</html>