<div class="container">
 <div class="row">
  	<div class="col-sm-12 logo-tabs">
  	  <div class="row logo-container">
  	  	<div class="col-sm-12">
			<%= link_to "/home/index" do %>
				<%= image_tag "/assets/logo-3.jpg", alt: "Logo", class: "logo-image" %>
			<% end %>
  	  	</div>
  	  </div>
  	  <div class="row tabs-container">
  	  	<nav>
	  	    <div class="col-sm-4 primary-tab about-me">

	  	    		<ul class="cf">

			  	    	<li>
			  	    		<div class="row">

			  	    			<div class="col-sm-2 about-me-flowers-cont-left">
	  	    						<img class="about-me-flowers" src="/assets/flower.gif" />
				  	    		</div>
				  	    		<div class="col-sm-8 about-me-label-cont">

				  	    			<%= link_to "ABOUT ME \u25BC", "javascript:void(0)" , class: "about-me-list-item about-me-mobile tab-primary-link dropdown" %>

				  	    			<%= link_to "ABOUT ME", "javascript:void(0)" , class: "about-me-list-item about-me-desktop tab-primary-link dropdown" %>


				  	    		</div>
				  	    			<div class="col-sm-2 about-me-flowers-cont-right">


	  	
				  	    			</div>
				  	    	</div>

				  	    	<ul class="sub-items about-me-sub-items" dropped="false">
				                <li class="about-me-1">
				  	    			<%= link_to "Who am I?", {controller: "about_me"}, class: "about-me-item sub-item" %>
				                <li class="about-me-3">
				                	<%= link_to "Client Testimonials", {controller: "client_testimonials"}, class: "about-me-item sub-item" %>
				                		
				                </li>
				            </ul>
			            </li>
			        </ul>
		        
	  	    </div>
	  	    <div class="col-sm-4 primary-tab my-work">
	  	    	<ul class="cf">
	  	    		<li>

	  	    				<div class="row">

			  	    			<div class="col-sm-2 my-work-flowers-cont-left">
	  	    						<img class="my-work-flowers" src="/assets/flower.gif" />
				  	    		</div>
				  	    		<div class="col-sm-8 my-work-label-cont">

	  	    					<%= link_to "MY WORK", "javascript:void(0)", class: "tab-primary-link dropdown my-work-list-item my-work-desktop" %>

	  	    					<%= link_to "MY WORK \u25BC", "javascript:void(0)", class: "tab-primary-link dropdown my-work-list-item my-work-mobile" %>



				  	    		</div>
				  	    			<div class="col-sm-2 my-work-flowers-cont-right">

	  	    						<img class="my-work-flowers" src="/assets/flower.gif" />
	  	
				  	    		</div>
				  	    	</div>



	  	    			<ul class="sub-items my-work-sub-items" dropped="false">
				  	    	<li><%= link_to "Weddings", {controller: "weddings"}, class: "my-work-item sub-item" %></li>
				            <li><%= link_to "Beautiful Moments", {controller: "beautiful_moments"}, class: "my-work-item sub-item" %></li>
	  	    			</ul>
	  	    		</li>
	  	    	</ul>
	  	    </div>

	  	    <div class="col-sm-4 primary-tab book-online">
	  	    	<ul class="cf">
	  	    		<li>
	  	    				<div class="row">

			  	    			<div class="col-sm-2 book-online-flowers-cont-left">

				  	    		</div>
				  	    		<div class="col-sm-8 book-online-label-cont">

	  	    					<%= link_to "BOOK ONLINE", { controller: "book_online" }, class: "tab-primary-link dropdown" %>

				  	    		</div>
				  	    			<div class="col-sm-2 book-online-flowers-cont-right">

	  	    						<img class="book-online-flowers" src="/assets/flower.gif" />
	  	
				  	    		</div>
				  	    	</div>


	  	    		</li>
	  	    	</ul>
	  	    </div>

  	    </nav>
  	  </div>
  	</div>
  </div>

  <div class="row intro-text">
  	<p>
  		Hello, my beautiful friends. Thank you for taking the time out of your day to learn a little bit more about me. I cannot wait to learn about you and your loved ones.
 	</p>
  </div>


  <div class="row">
  	<div class="col-sm-12 personal-photo-container">
  	<img src="/assets/personal_photo.jpg" alt="personal photo" class="personal-photo">
  	</div>
  </div>


  <div class="row">
  	<div class="col-sm-12 personal-photo-container">

  		
  		<hr>
  		<h3 class="h-1">Who Am I?</h3>
  		
  		
	  		<p class="p-1">

	  			My name is Sienna Turecamo and I am currently based out of Old Town Alexandria, VA, however my clients and photography expeditions take me all over the globe. Most recently, I was lucky enough to photograph clients in Iceland and Ireland. I am predominately a wedding photographer but have had many clients in the realms of pet, boudoir, maternity, event, and editorial photography.

	  		</p>
  		
  		<hr>
  		<h3 class="h-2">Where I'm From.</h3>
  		
  		<p>
  			I have lived in a plethora of places and experienced many different walks of life in my short 22 years. In June 2017 I graduated from the University of Virginia with a distinguished bachelors of fine art, where I studied photography for four years. Additionally, I have had the privilege to study art around the globe, including at the Corcoran School of the Arts and Design in Washington D.C., the Santa Reparata International School of Art in Firenze, Italy, and at St. George's School in Newport, Rhode Island.
  		</p>

  		<hr>
  		<h3 >What Drives Me.</h3>

  		<p>
  			The one thing that has remained constant in my life is my own acknowledgement that I was born with the need to create. Nothing fulfills my heart and soul like the act of creation. I am an artist through and through. I paint, draw, design, and do all things in my life according to my artistic soul.  However, photography is what I do. People often ask me why.
  		
  		</p>

  		<hr>
  		<h3>Why I Photograph.</h3>

  		<p>
  			I have chosen the photograph as my tool to make a difference in the world. Photography requires connection. A photograph is not made without an interaction. An image cannot come to fruition without my story and your story coming together to create something magical. This is why I am a photographer. It allows me to show you how magnificent you are. In the process, you always teach me about myself. For me, it is the ultimate practice of love, humanity, and creation.
  		</p>

  		<hr>
  		<h3>My Promise to You.</h3>

  		<p>
  			I have an unwavering desire to bring love, happiness, and beauty to you by showing the ways it exists in us all and in our Earth. And so, with my camera as a tool, I wish to dedicate my life to helping you understand your worth, your beauty, and the magnificent details of your biggest moments. I care immensely about each individual I have the privilege to work with and value each and every person that entrusts me with the task of capturing their most precious moments along their life's journey.
  		</p>

  		<hr>
  		<h3>Types of Shoots.</h3>

  		<p>
  			On a personal note, I am a lover of the Earth, animals, and originality. In addition to being a wedding photographer I am a photographer who pushes the envelope. My specialty is photos that are unique. Often times, they involve animals and amazing natural locations. Boudoir session on top of a horse? Engagement session with doves? Maternity session with a chameleon? Sessions in weeping willow trees? My specialty.
  		</p>

  		<hr>
  		<h3>My Modeling Experience.</h3>

  		<p>
  			It is important to mention that I have experience on both sides of the camera as I am also a signed model. Each time I step in front of the camera I learn something new about how to successfully photograph my clients. I get what it is to be behind a camera. I know how it feels to be photographed. I relate to the nerves that inevitably course through you before you step in front of a camera (not to mention meet a photographer for the first time). It's difficult and it can feel awkward. I empathize with the stress of not being the exact weight you think you need to be to get photographed for a boudoir or wedding session. I relate to not having the perfect skin, or the perfect whatever-- because that's what makes us human. But, I will help you, support you, and show you that none of that matters.
  		</p>

  		<hr>
  		<h3>Capturing Your Essence.</h3>

  		<p>
  			Perhaps most importantly, I know how it feels to see photographs of yourself that don't make you feel beautiful. I firmly believe there is no such thing as being un-photogenic. There are only photographers who aren't able to capture a person's true essence. I aim to capture that essence. My experience as a model has also given me extensive knowledge about the ways an individual should move in front of a camera to achieve desired images. Above all, it has instilled in me the importance of a respectful and trusting relationship between a subject and the photographer.
  		</p>

  		<hr>

  		<p>
  			At the end of the day, you and your happiness are what is important to me. Do not ever hesitate to reach out to me with any questions, concerns, or comments.
  		</p>

  		<hr>

  		<br/>



  		<div class="something-magical">
	  		<p class="magical-text">
	  			Let's create something magical.
	  		</p>
	  	</div>

	  	<hr class="magicial-bottom-hr">

	  	<h3>Featured in:</h3>
  		<div class="row published-flex">
	  		<div class="col-sm-4">
	  			<a href="https://www.borrowedandblue.com/us/wedding-photographers/sienna-turecamo-photography"><img src="/assets/published-1.jpg" alt="Published 1" class="published-image published-image-1"></a>
	  		</div>

	  		<div class="col-sm-4">
	  			<a href="http://www.inkjunkeyz.com/"><img src="/assets/published-2.jpg" alt="Published 2" class="published-image published-image-2"></a>
	  		</div>

	  		<div class="col-sm-4">
	  			<a href="https://ampersandlit.com/"><img src="/assets/published-3.jpg" alt="Published 3" class="published-image published-image-3"></a>
	  		</div>
	  	</div>

  		<div class="row published-flex">
	  		<div class="col-sm-4">
	  			<a href="http://arts.virginia.edu/galleries-grounds/galleries-museums/"><img src="/assets/published-4.jpg" alt="Published 4" class="published-image published-image-4"></a>
	  		</div>

	  		<div class="col-sm-4">
	  			<a href="http://www.thehaven.org/"><img src="/assets/published-5.jpg" alt="Published 5" class="published-image published-image-5"></a>
	  		</div>

	  		<div class="col-sm-4">
	  			<a href="http://www.santareparata.org/"><img src="/assets/published-6.jpg" alt="Published 6" class="published-image published-image-6"></a>
	  		</div>
	  	</div>


  		<div class="row published-flex">
	  		<div class="col-sm-4">
	  			<a href="http://opengrounds.virginia.edu/"><img src="/assets/published-7.jpg" alt="Published 7" class="published-image published-image-7"></a>
	  		</div>

	  		<div class="col-sm-4">
	  		</div>

	  		<div class="col-sm-4">
	  			<a href="http://www.theknot.com/marketplace/sienna-turecamo-photography-old-town-alexandria-va-1058889?utm_source=vendor_website&utm_medium=banner&utm_term=94347d9c-8e6f-43d4-9d70-a7bc008ec374&utm_campaign=vendor_badge_assets"><img src="https://www.theknotpro.com/assets/VendorBadge_AsSeenOnWeb_fe690073f72a2750ec47dde6f9c1b5ca.png" width="190" class="published-image published-image-8" alt="As Seen on The Knot" border="0"></a>
	  		</div>
	  	</div>


  	</div>
  </div>


    <div class="row footer-container gutter-max">
 	 <div class="col-sm-12 footer">
 	 	<p class="footer-text"> Email: SiennaTurecamoPhotography@gmail.com </p>
 	 	<p class="footer-text"> Phone: 540-660-9696 </p>
 	 	<br/>
 	 	<p class="footer-text"> All Creative content © Sienna Turecamo </p>
  	 </div>
  </div>



</div>