<div class="container">
 <div class="row">
  	<div class="col-sm-12 logo-tabs">
  	  <div class="row logo-container">
  	  	<div class="col-sm-12 col-xs-10">
			<%= link_to "/home/index" do %>
				<%= image_tag image_url("logo-3.png"), class: "logo-image" %>
			<% end %>
  	  	</div>
  	  	<div class="visible-sm visible-xs col-xs-2 hamburger-menu-wrapper">
  	  		<%= image_tag image_url("hamburger-menu.png"), class: "hamburger-menu" %>
  	  	</div>
  	  </div>
  	  <div class="row tabs-container" dropped="false">
  	  	<nav>
	  	    <div class="col-sm-4 primary-tab about-me">

	  	    		<ul class="cf">

			  	    	<li>
			  	    		<div class="row">

			  	    			<div class="col-sm-2 about-me-flowers-cont-left">
	  	    						<%= image_tag image_url("flower.gif"), class: "about-me-flowers" %>
				  	    		</div>
				  	    		<div class="col-sm-8 about-me-label-cont">

				  	    			<%= link_to "ABOUT ME \u25BC", "javascript:void(0)" , class: "about-me-list-item about-me-mobile tab-primary-link dropdown" %>

				  	    			<%= link_to "ABOUT ME", "javascript:void(0)" , class: "about-me-list-item about-me-desktop tab-primary-link dropdown" %>


				  	    		</div>
				  	    			<div class="col-sm-2 about-me-flowers-cont-right">



				  	    			</div>
				  	    	</div>

				  	    	<ul class="sub-items about-me-sub-items" dropped="false">
				                <li class="about-me-1">
				  	    			<%= link_to "Who am I?", {controller: "about_me"}, class: "about-me-item sub-item" %>
				                <li class="about-me-3">
				                	<%= link_to "Client Testimonials", {controller: "client_testimonials"}, class: "about-me-item sub-item" %>

				                </li>
				            </ul>
			            </li>
			        </ul>

	  	    </div>
	  	    <div class="col-sm-4 primary-tab my-work">
	  	    	<ul class="cf">
	  	    		<li>

	  	    				<div class="row">

			  	    			<div class="col-sm-2 my-work-flowers-cont-left">
			  	    				<%= image_tag image_url("flower.gif"), class: "my-work-flowers" %>
				  	    		</div>
				  	    		<div class="col-sm-8 my-work-label-cont">

	  	    					<%= link_to "MY WORK", "javascript:void(0)", class: "tab-primary-link dropdown my-work-list-item my-work-desktop" %>

	  	    					<%= link_to "MY WORK \u25BC", "javascript:void(0)", class: "tab-primary-link dropdown my-work-list-item my-work-mobile" %>



				  	    		</div>
				  	    			<div class="col-sm-2 my-work-flowers-cont-right">

	  	    						<%= image_tag image_url("flower.gif"), class: "my-work-flowers" %>

				  	    		</div>
				  	    	</div>



	  	    			<ul class="sub-items my-work-sub-items" dropped="false">
				  	    	<li><%= link_to "Weddings", {controller: "weddings"}, class: "my-work-item sub-item" %></li>
				            <li><%= link_to "Beautiful Moments", {controller: "beautiful_moments"}, class: "my-work-item sub-item" %></li>
	  	    			</ul>
	  	    		</li>
	  	    	</ul>
	  	    </div>

	  	    <div class="col-sm-4 primary-tab book-online">
	  	    	<ul class="cf">
	  	    		<li>
	  	    				<div class="row">

			  	    			<div class="col-sm-2 book-online-flowers-cont-left">

				  	    		</div>
				  	    		<div class="col-sm-8 book-online-label-cont">

	  	    					<%= link_to "BOOK ONLINE", { controller: "book_online" }, class: "tab-primary-link dropdown" %>

				  	    		</div>
				  	    			<div class="col-sm-2 book-online-flowers-cont-right">

	  	    						<%= image_tag image_url("flower.gif"), class: "book-online-flowers" %>

				  	    		</div>
				  	    	</div>


	  	    		</li>
	  	    	</ul>
	  	    </div>

  	    </nav>
  	  </div>
  	</div>
  </div>

  <div class="row">

  	 <div class="col-sm-12 status-message">
  	 	<% if params[:formStatus] == "success" %>
  	 		<p class="success-status">I'm so excited to learn more about <span class="flavor">you</span> and your <span class="flavor">special moment</span>. I will review all your information and get back to you as soon as possible. I can't wait to work together.</p>
  	 	<% elsif params[:formStatus] == "fail" %>
  	 		<p class="error-status"><span class="flavor">Whoops!</span><br>It appears one of those pesky fields isn't filled out. Please fill them out so I can get the best idea of your special day or moment.</p>
  	 	<% else %>
  	 		<p>Interested in working together? Please fill out the following information, and I will get back to you soon!
  	 	<% end %>
  	 </div>

  	 <div class="col-sm-12 selector">
	 	 <select class="option-picker" name="shoot-type" id="shoot-type">
	 	 	<option selected disabled>Shoot Type</option>
	 		 <option value="wedding" class="wedding-option">Wedding</option>
	 		 <option value="beautiful-moment" class="beautiful-option">Beautiful Moment</option>
	 	 </select>
	 </div>


 	 <div class="col-sm-12 wedding-selection">
 	 	<h3 class="selection-header">Tell me about your wedding.</h3>
 	 	<br>
 	 	<%= form_tag(controller: "email", action: "create", method: "post", class: "wedding-form") do %>

 	 		<div class="row">
 	 			<div class="col-sm-12">
 	 				<span class="input-text">Wedding Date:</span>
 	 				<input class="centered-input" type="date" name="client[date]">
 	 			</div>
 	 		</div>
			<br>
 	 		<div class="row">
 	 			<div class="col-sm-2"></div>
 	 			<div class="col-sm-4">
 	 			 	<input class="centered-input" type="text" name="client[bridename]" placeholder="Bride's Name" />
 	 			</div>
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="text" name="client[groomname]" placeholder="Groom's Name" />
 	 			</div>
 	 			<div class="col-sm-2"></div>
 	 		</div>
			<br>
 	 		<div class="row">
 	 			<div class="col-sm-2"></div>
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="text" name="client[weddinglocation]" placeholder="Wedding Location" />
 	 			</div>
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="text" name="client[receptionlocation]" placeholder="Reception Location" />
 	 			</div>
 	 			<div class="col-sm-2"></div>
 	 		</div>
			<br>
 	 		<div class="row">
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="text" name="client[mailingaddress]" placeholder="Mailing Address" />
 	 			</div>
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="text" name="client[email]" placeholder="Email Address" />
 	 			</div>
 	 			<div class="col-sm-4">
 	 				<input class="centered-input" type="tel" name="client[phone]" placeholder="Phone Number" />
 	 			</div>
 	 		</div>
 	 		<br>
 	 		<div class="row">
 	 			<div class="col-sm-6 check-box">
 	 				<input type="checkbox" name="client[engagement]"> I am interested in an engagement session
 	 			</div>
 	 			<div class="col-sm-6 check-box">
 	 				<input type="checkbox" name="client[bridal]"> I am interested in a bridal session
 	 			</div>
 	 		</div>
 	 		<br>
 	 		<div class="row">
 	 			<div class="col-sm-12">
 	 				<textarea class="centered-input input-fill-container" name="client[about]" cols="40" rows="5" placeholder="A little bit about yourself..."></textarea>
 	 			</div>
 	 		</div>
 	 		<br>
 	 		<div class="row">
 	 			<div class="col-sm-12">
 	 			<input class="centered-input larger-submit" name="client[wedding-send]" type="submit" value="Send" />
 	 			</div>
 	 		</div>

 	 	<% end %>

 	 </div>

 	 <div class="col-sm-12 beautiful-selection">
 	 	<h3>Tell me about your moment.</h3>
 	 	<br>
 	 	<%= form_tag(controller: "email", action: "create", method: "post", class: "moment-form") do %>


 	 		<div class="row">
 	 			<div class="col-sm-12">
 	 				<input class="centered-input input-fill-container" type="text" name="client[momentname]" placeholder="Moment You Need Photographed" />
 	 			</div>
 	 		</div>
 	 		<br>

 	 		<div class="row">
 	 			<div class="col-sm-4">
	 	 			<input class="centered-input" type="text" name="client[clientname]" placeholder="Your Name" />
	 	 		</div>
	 	 		<div class="col-sm-4">
	 	 			<input class="centered-input" type="text" name="client[email]" placeholder="Email Address" />
	 	 		</div>
	 	 		<div class="col-sm-4">
	 	 			<input class="centered-input" type="tel" name="client[phone]" placeholder="Phone Number" />
	 	 		</div>
 	 		</div>
 	 		<br>

 	 		<div class="row">
 	 			<div class="col-sm-12">
 	 				<textarea class="centered-input input-fill-container" name="client[about]" cols="40" rows="5" placeholder="Details pertaining to your special moment..."></textarea>
 	 			</div>
 	 		</div>
 	 		<br>

 	 	 	<div class="row">
 	 			<div class="col-sm-12">
 	 				<input class="centered-input larger-submit" name="client[moment-send]" type="submit" value="Send" />
 	 			</div>
 	 		</div>

 	 	<% end %>

 	 </div>

  </div>


</div>


<div class="row footer-container gutter-max">
 <div class="col-sm-12 footer">
    <p class="footer-text">SiennaTurecamoPhotography@gmail.com </p>
    <p class="footer-text">540.660.9696 </p>
    <div class="social-media-wrapper">
      <a href="https://www.facebook.com/SiennaTurecamoPhotography/"><%= image_tag image_url("facebook-icon.png"), class: "social-icon social-icon--facebook" %></a>
      <a href="https://www.instagram.com/siennaturecamophotography/"><%= image_tag image_url("Instagram-icon.png"), class: "social-icon social-icon--instagram" %></a>
    </div>
    <p class="footer-text"> All Creative Content © Sienna Turecamo </p>
  </div>
</div>
